// nextflow.config

params {
    //reports_dir = '../../output/nextflow_reports'
    def timestamp = new Date().format("yyyyMMdd_HHmmss")
    reports_dir = "../../output/nextflow_reports_${timestamp}"
}

process {
    executor = 'local'
    withName:preprocess_data1 {
        cpus = 2
        memory = '4 GB'
    }
    withName:preprocess_data2 {
        cpus = 2
        memory = '4 GB'
    }
    withName:analysis_script1 {
        cpus = 2
        memory = '4 GB'
    }
    withName:analysis_script2 {
        cpus = 2
        memory = '4 GB'
    }
}

report {
    enabled = true
    file = "${params.reports_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.reports_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.reports_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.reports_dir}/dag.png"
}

